@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243 244 246);
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Style the scrollbar thumb for Chrome and Safari */
::-webkit-scrollbar-thumb {
  background-color: #4caf50;
  border-radius: 5px;
}
